@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.spWebHooksManager {
  font-size: normal;
  .pullRight {
    float: right;
  }
  .listSubscriptions {
    min-height: 100px;
    position: relative;
  }
  .fabricIconContainer {
    position: relative;
    cursor: pointer;
    display: inline-block;
    .fabricIconCircle {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      transform: scale(0);
      transition: all 450ms ease 0ms;
    }
    &:hover {
      .fabricIconCircle {
        background: rgba(234, 234, 234, 1);
        border-radius: 50%;
        transform: scale(1);
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      }
    }
    .fabricIcon {
      position: relative;
      line-height: 30px;
      width: 30px;
      text-align: center;
      .rotate {
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }
      .rotate.down {
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
  .clearfix {
    clear: both;
  }
  .clearfix:after {
    clear: both;
    content: "";
    display: table;
  }
  .subscriptionItem {
    padding: 10px 15px 10px 15px;
    background-color: #f4f4f4;
    margin-bottom: 5px;
    .subscriptionItemHeader {
      line-height: 30px;
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
  }
  .subscriptionListHeader {
    .title {
      padding-left: 5px;
    }
  }
  .listUnstyled {
    list-style: none;
    padding: 0;
    li {
      padding-bottom: 8px;
    }
    label {
      font-weight: 600;
    }
    .subscriptionProp {
      padding-top: 2px;
    }
  }
  .loaderOverlay {
    z-index: 2;
    background-color: rgba(255, 255, 255, .6);
  }
  .loaderSpinner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .noSubscriptions {
    border: 1px solid;
    padding: 10px;
    border-color: #e3e3e3;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
  }
}

.panelButtons {
  button {
    &:first-child {
      margin-right: 8px;
    }
  }
}
